#sec-2{
    display: none;
}
#sec-3{
    display: none;
}
.form-control{
    height: 50px;
    flex: 0 1 auto!important;
    width: 400px!important;
}
.btn{
    width: 200px;
    height: 50px;
    font-size: 22px!important;
    font-weight: 600!important;
}